<form action="/new" method="post">
  <h1>Send a new message</h1>
  <div>
    <label for="authorName">Author Name: </label>
    <input type="text" name="authorName" id="" />
  </div>

  <div>
    <label for="messageText">Message: </label>
    <input type="text" name="messageText" />
  </div>

  <button type="submit">Send Message</button>
</form>
